/* body{
    max-width: 1500px;
    min-width: 600px;
    max-height: 600px;
    min-height: 200px;
} */
.carousel-item{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    /* width: 100% !important; */
    /* height: 600px; */
}
/* #to{
    width: 30%;
    height: 100%;
} */
p{
    color: white;
    text-align: left;
    min-width: 40% !important;
    margin: 10px -40px 160px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    /* padding: -40px !important;
    margin:  200px !important;
    display: fixed; */
    /* justify-content: left; */
}
/* h5{
    color: olivedrab;
    font-weight: bolder;
    font-size: 60px;
} */
.navbar{
    background-color: #d32f2f !important;
    /* background-color: transparent !important;  */
    /* justify-content: center !important;
    align-items: center; */
    /* text-align: center;
    margin: auto auto auto;
    max-width: 1800px; */
    /* background-color: #0009 !important; */
    
}
.nav-link{
      color: white !important;
      margin: auto 40px auto;
}
#nine:hover{
    color: orange !important;
    min-width: 50%;
    /* background: orange; */
    /* height: 50px; */
}
#nine::after{
    content: '';
    display: block;
    width: 0%;
    height: 5px;
    background-color: orange;
    transition: width .3;
}
#nine:hover::after{
    width: 100%;
    transition: .3s;
}
.btn{
    color: white !important;
    border-color: white !important;
}
#five:hover{
    color: white;
    background: black !important;
}
.fire img{
    max-width: 300px;
    margin: 30px;
    /* max-height: 600px;
    min-height: 200px; */
    /* padding: 30px; */
    vertical-align: middle;
}
/* img{
    vertical-align: middle;
} */
.d-block{
    max-width: 1450px;
    min-width: 350px;
    max-height: 600px;
    min-height: 250px;
}
.container{
    max-width: 1170;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.glass{
    max-width: 600px;
    min-width: 200px;
}
.footer{
    background-color: whitesmoke;
    padding: 50px 0;
    margin: 120px auto auto;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #24262b;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 30px 20px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 60px;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #24262b;
    padding-left: 10px;
}
/* .fab{
    margin: 10px 10px 20px;
} */
.footer-col .social-links a{
     display: inline-block;
     height: 40px;
     width: 40px;
     background-color: rgba(255, 255, 255, 0.2);
     margin:0 -10px 10px 20px;
     text-align: center;
     line-height: 40px;
     border-radius: 50%;
     color: #24262b;
     transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #bbbbbb;
}