
.navbar{
    background-color: #d32f2f !important;
    /* background-color: transparent !important;  */
    justify-content: center !important;
    align-items: center;
}
.nav-link{
      color: white !important;
      margin: auto 40px auto;
}
#nine:hover{
    color: orange !important;
    /* background: orange; */
    /* height: 50px; */
}
#nine::after{
    content: '';
    display: block;
    width: 0%;
    height: 5px;
    background-color: orange;
    transition: width .3;
}
#nine:hover::after{
    width: 100%;
    transition: .3s;
}
.btn{
    color: white !important;
    border-color: white !important;
}
#five:hover{
    color: white;
    background: orange !important;
}
.first{
    text-align: justify;
    margin: 10px 5px auto;
    max-width: 1400px;
    min-width: 200px;
    padding: 20px;
}
h1{
    /* text-align: center; */
    font-size: 20px;
    color: #d32f2f;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px auto auto;
}
h2{
    /* text-align: center; */
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto auto auto;
}
.image-container{
    max-width: 800px;
    margin: auto auto 80px;
    padding: 30px;
}
.image-container .floating-image{
    max-width: 400px;
}
.image-container .floating-image .right{
    float: left;
    margin-right: 35px;
    margin-bottom: 10px;
}
.image-container.p #second{
    text-align: justify;
}
.second{
    margin: -255px 180px auto;
    min-width: 120px;
    max-width: 800px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 20px;
    text-align: justify;
}
h1{
    font-weight: bolder;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.foo{
    margin: -55px 180px 20px;
    width: 800px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 20px;
}
.third{
    margin: -285px 150px auto;
    min-width: 200px;
    max-width: 800px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 20px;
    padding: 30px;
    text-align: justify;
}

h5{
    color: white;
    text-align: right;    
    margin: -1580px -160px -50px;
    font-size: 35px;
    font-weight: bolder;
    max-width: 1450px;
    min-width: 350px;
              /* text-decoration: underline red 1px; */
}
.d-block{
    max-width: 1450px;
    min-width: 350px;
    max-height: 400px;
    min-height: 200px;
}
ul{
    list-style: none;
}
.footer{
    background-color: whitesmoke;
    padding: 50px 0;
    margin: 120px auto auto;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #24262b;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 60px;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #24262b;
    padding-left: 10px;
}
/* .fab{
    margin: 10px 10px 20px;
} */
.footer-col .social-links a{
     display: inline-block;
     height: 40px;
     width: 40px;
     background-color: rgba(255, 255, 255, 0.2);
     margin:0 10px 10px 10px;
     text-align: center;
     line-height: 40px;
     border-radius: 50%;
     color: #24262b;
     transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #bbbbbb;
}
